/*
Autor: Pablo Ríos Furniet
Licencia: Creative Commons Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)
Este archivo forma parte de un proyecto con licencia no comercial.
Puedes ver, modificar y reutilizar este código con fines personales o educativos, siempre que menciones al autor.
Queda prohibido el uso comercial sin autorización expresa.
Más información: https://creativecommons.org/licenses/by-nc/4.0/
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #64a948;
    --light-primary: #9ac789;
    --secondary: #206fa5;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx {
    font-size: 1.7rem;
}

.bx:hover {
    cursor: pointer;
}

.bx-cloud-download:hover,
.bx-cloud-download:focus {
    color: rgb(46, 112, 255);
}

.bx-show:hover,
.bx-show:focus,
.bx-plus:hover,
.bx-plus:focus,
.bx-sort-a-z:hover,
.bx-sort-a-z:focus,
.bx-sort-z-a:hover,
.bx-sort-z-a:focus {
    color: var(--primary);
}

.bx-edit:hover,
.bx-edit:focus {
    color: var(--success);
}

.bx-trash:hover,
.bx-trash:focus,
.bx-minus-circle:hover,
.bx-minus-circle:focus {
    color: var(--danger);
}

a,
.sidebar a {
    text-decoration: none;
    color: var(--dark);
}

li {
    list-style: none;
}

html {
    overflow-x: hidden;
}

body.dark {
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 999;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
    font-weight: normal;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.close {
    width: 60px;
    opacity: 1;
    font-weight: normal;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .logo-name span {
    color: var(--dark);
}

.sidebar .logo .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a, .sidebar .side-menu li a:hover {
    color: var(--primary);
}

.sidebar.close .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout {
    color: var(--danger);
}

.sidebar .side-menu li a.goBack {
    cursor: pointer;
}

.content {
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content {
    width: calc(100% - 60px);
    left: 60px;
}

.subitem.hidden-sub {
    display: none;
    transition: all 0.3s ease;
}

.subitem a {
    padding-left: 30px;
}

/* Flecha animada */
.with-sub .chevron {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a {
    color: var(--dark);
    text-decoration: none;
}

.content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}

.content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.form-group {
    margin-bottom: 10px;
}

.form-check-label {
    font-size: 20px;
    margin-left: 10px;
}

.content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content nav form .form-input button {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content nav .notif {
    font-size: 16px;
    position: relative;
}

.content nav .notif .count {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-content {
    display: flex;
    align-items: center;
}

.profile-content i {
    margin-right: 5px;
}


.content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.content nav .theme-toggle {
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before {
    left: calc(100% - (25px - 4px) - 2px);
}

.content main {
    width: 100%;
    padding: 36px 24px;
}

.content main .header {
    grid-gap: 16px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content main .header .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .header .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    background-color: transparent;
    padding: 10px 0;
    margin: 0px;
}

.content main .header .left .breadcrumb li {
    color: var(--dark);
}

.content main .header .left .breadcrumb li a {
    color: var(--dark-grey);
    text-decoration: none;
}

.content main .header .left .breadcrumb li a.active {
    color: var(--primary);
}

.content main .insights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    transition: background-color 0.3s ease;
}

.content main .insights li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
}

.content main .insights li .info {
    flex-grow: 1;
}

.content main .insights li .info h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
    margin: 0;
}

.content main .insights a {
    text-decoration: none;
    color: inherit;
}

.content main .insights li:hover {
    background-color: var(--primary);
}

.content main .bottom-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.content main .bottom-data>div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 16px;
}

.content main .bottom-data .header h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
}

.content main .bottom-data .header .bx {
    cursor: pointer;
}

.content main .bottom-data .orders {
    flex-grow: 1;
    flex-basis: 500px;
}

#tabla {
    width: 100%;
    overflow-y: auto;
    position: relative;
    display: block;
    max-height: 472px;
    padding: 0;
}

#tabla thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    text-align: left;
    background-color: var(--light);
}

#tabla td {
    padding: 16px 20px;
    background-color: var(--light);
}

#tabla td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

#tabla .ver_tr:hover {
    cursor: pointer;
}

.content main .bottom-data .reminders {
    flex-grow: 1;
    flex-basis: 300px;
}

.content main .bottom-data .reminders .task-list {
    width: 100%;
}

.content main .bottom-data .reminders .task-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 20px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content main .bottom-data .reminders .task-list li .task-title {
    display: flex;
    align-items: center;
}

.content main .bottom-data .reminders .task-list li .task-title p {
    margin-left: 6px;
    margin-bottom: 0px;
}

.content main .bottom-data .reminders .task-list li .bx {
    cursor: pointer;
}

.content main .bottom-data .reminders .task-list li.completed {
    border-left: 10px solid var(--success);
}

.content main .bottom-data .reminders .task-list li.not-completed {
    border-left: 10px solid var(--danger);
}

.content main .bottom-data .reminders .task-list li:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .content {
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {

    .content nav form .form-input input {
        display: none;
    }

    .content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content nav form.show .form-input input {
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content nav form.show~.notif,
    .content nav form.show~.profile {
        display: none;
    }

    .content main .insights {
        grid-template-columns: 1fr;
    }

}

.reminders label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
}

.reminders input,
.reminders select,
#selectCategory,
.modal-body input,
.modal-body select {
    width: 100%;
    border: 1px solid var(--dark-grey);
    border-radius: 50px;
    background-color: var(--grey);
    color: var(--dark);
    transition: border-color 0.3s ease;
    outline: none;
}

.reminders input:focus,
.reminders select:focus,
#selectCategory:focus,
.modal-body input:focus,
.modal-body select:focus {
    border-color: var(--primary);
    box-shadow: none;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 100%;
    text-align: center;
    width: 100%;
    border: 1px solid var(--dark-grey);
    border-radius: 50px;
    background-color: var(--grey);
    color: var(--dark);
    transition: border-color 0.3s ease;
    outline: none;
    padding: 5px;
}

.reminders textarea,
.modal-body textarea {
    width: 100%;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    /* o el borde que prefieras */
    background-color: var(--grey);
    color: var(--dark);
    padding: 10px 16px;
    /* Ajuste del padding para mejor aspecto */
    transition: border-color 0.3s ease;
    outline: none;
}

.reminders textarea:focus,
.modal-body textarea:focus {
    border-color: var(--primary);
    box-shadow: none;
}


.file-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#file-name {
    display: inline-block;
    vertical-align: middle;
}

.modal-body textarea {
    width: 100%;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    background-color: var(--grey);
    color: var(--dark);
    transition: border-color 0.3s ease;
    outline: none;
}

.modal-body textarea:focus {
    border-color: var(--primary);
    box-shadow: none;
}

#btn {
    padding: 12px;
    background-color: var(--primary);
    color: var(--light);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 16px;
}

#btnSubmit,
#btnCambiar,
#exportarPDF {
    height: 36px;
    padding: 0 16px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 16px;
}

#btn:hover,
#btnSubmit:hover,
#btnCambiar:hover,
#exportarPDF:hover {
    background-color: var(--secondary)
}

/* Estilos para la fortaleza de la contraseña */

#passwordStrength {
    margin-top: 8px;
    font-size: 0.9rem;
    color: var(--dark-grey);
}

/* Estilos para el icono de mostrar/ocultar contraseña */

.password-container {
    position: relative;
}

.password-container .bx {
    margin-top: 16px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--dark-grey);
}

#eyeIcon,
#eyeIconRepeat {
    position: absolute;
    right: 10px;
    top: 36px;
    transform: translateY(-50%);
    cursor: pointer;
}

.report {
    margin-bottom: 8px;
    padding: 0px;
    border-radius: 36px;
    grid-gap: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.error-message {
    background-color: #f44336;
    /* Color de fondo rojo */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.success-message {
    background-color: var(--success);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.container {
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Agrega sombra */
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Agrega sombra */
}

.reminders,
.orders,
.insights li {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Agrega sombra */
}

.orders th,
.orders td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.btn-acceder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 1);
}

.btn-acceder:hover,
.btn-acceder:focus {
    text-decoration: none;
}

.usuarios-container {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 10px;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.form-check {
    display: block;
}

.form-check-label {
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 0px;
}

.form-check-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 2px solid var(--primary);
    border-radius: 50%;
    width: 20px;
    max-width: 20px;
    height: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

.form-check-input:hover {
    border-color: var(--primary);
}

.form-check-input:checked {
    background-color: var(--primary);
}

.user img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.user {
    flex-wrap: wrap;
}

.user-img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    flex: 0 0 auto;
}

.user-title {
    flex: 1 1 auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


#passwordForm .input-seleccionar {
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.notif-container {
    position: relative;
}

.notif-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    background-color: var(--light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 300px;
    max-height: 155px;
    z-index: 9999;
    overflow-y: auto;
}

@media screen and (max-width: 489px) {
    .notif-dropdown {
        right: -100px;
    }
}

@media screen and (min-width: 490px) {
    .notif-dropdown {
        right: -20px;
    }
}

.notif-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.notif-item:last-child {
    border-bottom: none;
}

.notif-item h4,
.notif-item p,
.notif-item small {
    margin: 0;
}

.notif-dropdown::-webkit-scrollbar {
    width: 8px;
}

.notif-dropdown::-webkit-scrollbar-track {
    background: var(--light);
    border-radius: 10px;
}

.notif-dropdown::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
}

#borrar-notis:hover {
    color: var(--danger);
}

#cont-fluid {
    background-color: var(--grey);
    padding-top: 0px;
}

.card {
    background-color: var(--light);
    border: none;
}

.card-with-background {
    background-image: url('../img/tarjeta.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.card li span.doc-name {
    font-weight: 500;
    flex: 1 1 auto;
    min-width: 200px;
    word-break: break-word;
    margin-right: 10px;
}

.card li span.doc-date {
    font-size: 0.9em;
    color: #888;
}

.card li i.bxs-download {
    color: var(--primary);
    font-size: 24px;
    margin-left: 10px;
    align-self: flex-end;
}

.contenido-noticia {
    height: 53px;
    overflow: hidden;
    transition: height 0.3s ease;
}

.contenido-expandido {
    height: auto;
}

.ver-mas {
    background: none;
    border: none;
    color: #0000FF;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
}

.ver-mas:hover {
    color: #0000FF;
}

#preview-pdf {
    cursor: pointer;
}

#preview-pdf:hover,
#preview-pdf:focus {
    text-decoration: underline;
}